
<h2>Contacts</h2>

<% @list.each do |contact| %>
  <h4><a href="/output/<%= contact.id %>"><%= contact.first + " " + contact.last %></a></h4>
<% end %>

<h4>Add your contacts: </h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="first">First Name: </label>
    <input id="first" name="first" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="last">Last Name: </label>
    <input id="last" name="last" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="title">Title: </label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="company">Company: </label>
    <input id="company" name="company" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit!</button>
</form>
